
.idea/vcs.xml
target/surefire-reports/TestSuite.txt
target/surefire-reports/testng.css
target/surefire-reports/testng-results.xml
target/surefire-reports/testng-reports.js
target/surefire-reports/testng-reports.css
target/surefire-reports/testng-failed.xml
target/surefire-reports/TEST-TestSuite.xml
target/surefire-reports/Suite1/testng-failed.xml
target/surefire-reports/Suite1/test1-chrome.xml
target/surefire-reports/Suite1/test1-chrome.html
target/surefire-reports/skipped.png
target/surefire-reports/passed.png
target/surefire-reports/old/Suite1/toc.html
target/surefire-reports/old/Suite1/testng.xml.html
target/surefire-reports/old/Suite1/test1-chrome.properties
target/surefire-reports/old/Suite1/reporter-output.html
target/surefire-reports/old/Suite1/methods.html
target/surefire-reports/old/Suite1/methods-not-run.html
target/surefire-reports/old/Suite1/methods-alphabetical.html
target/surefire-reports/old/Suite1/main.html
target/surefire-reports/old/Suite1/index.html
target/surefire-reports/old/Suite1/groups.html
target/surefire-reports/old/Suite1/classes.html
target/surefire-reports/old/index.html
target/surefire-reports/navigator-bullet.png
target/surefire-reports/junitreports/TEST-tests.homework_2.TestCase2.xml
target/surefire-reports/junitreports/TEST-tests.homework_2.TestCase1.xml
target/surefire-reports/jquery-3.4.1.min.js
target/surefire-reports/index.html
target/surefire-reports/failed.png
target/surefire-reports/emailable-report.html
target/surefire-reports/collapseall.gif
target/surefire-reports/bullet_point.png
target/surefire-reports/2020-06-01T09-08-14_329.dumpstream
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.idea/workspace.xml
.idea/misc.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_21.xml
.idea/libraries/Maven__org_testng_testng_7_1_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_java_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_3_141_59.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Maven__org_checkerframework_checker_compat_qual_2_0_0.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_10.xml
.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_8_15.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__com_squareup_okio_okio_1_14_0.xml
.idea/libraries/Maven__com_squareup_okhttp3_okhttp_3_11_0.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Maven__com_google_inject_guice_no_aop_4_1_0.xml
.idea/libraries/Maven__com_google_guava_guava_25_0_jre.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_1_3.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_beust_jcommander_1_72.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/.idea/
