<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="test1-chrome" preserve-order="true">
        <classes>
            <class name="tests.homework_2.TestCase1" />
            <class name="tests.homework_2.TestCase2" />
        </classes>
    </test>
</suite>
